@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto+Condensed:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    /*fuente*/
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    overflow-x:hidden;
}


/* Estilos generales */
.navbar{
    height:15vh;
    width:160%;
    margin:auto;
    display:flex;
    align-items:center;

   
}


ul, ol {
    list-style:none;
}

.nav {
    width:800px; 
    margin:120px ; 
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#0099ff;
    color:#fff;
    text-decoration:none;
    padding:15px 30px;
    display:block;
}

.nav li a:hover {
    background-color:#0066cc;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
.logo{
    height:200px;
    width:300px;
    cursor:pointer;
    left: 50%;
}

.content h1{
    font-size: 40px;
    font-weight: 800;
    margin: 50px 410px 10px;
}
.monitor{
    height:200px;
    width:300px;
    margin: 50px 20px 30px;
}

.content p{
    font-size: 20px;
    font-weight: 800;
    margin:-200px 350px 215px;
    
}
.content p a{
    color:#000000;
    
    text-decoration:none;
    
    display:block;
}

.boton1{
    display: inline-block;
    background:#0099ff;
    line-height: 3em; /*tamano de la letra*/
    padding: 0 1.5em;/*1.5 veces el tamano de la letra */
    margin:-200px 350px 215px;
    text-decoration: none;
    top: 200px;
    color:#fff;
   font-weight: 800;
   cursor:pointer;
}


.procesador{
    height:200px;
    width:300px;
    margin: -100px 30px 30px;
    
   
}
.grafica{
    height:200px;
    width:300px;
    margin: -100px 30px 30px;
}

.pie-pagina{
    width: 100%;
    background-color:#003366;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box h1{
    color: #fff;
    margin-bottom:25px;
    font-size: 20px;
    
}
.pie-pagina .grupo-1 .box a{
   
    color:#fff;
    text-decoration:none;
    padding:15px 30px;
    display:block;
    
}

.link:hover {
    color:#0099ff 
} 


